*{
    margin: 0px;
    padding: 0px;
}
.color-p{
   color: #F948B2;
}
header{
    display: flex;
    justify-content:space-around ;
    margin: 30px;
}
.nav-icon{
    width: 24px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav a{
    text-decoration: none;
    gap: 15px;
}

.nav-conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 200px;
    height: 38px;

}
.nav_about{
    display: flex;
    gap: 1.2rem;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.goat{
    text-align: center;
    font-family: Work Sans;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.banner-para{
    color: #534C64;
   font-family: Work Sans;
   font-size: 1.2rem;
   font-weight: 500;
   text-transform: lowercase;
}
.btn-singup{
    border: none;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}
.btn-go{
    border: none;
    padding: 10px 20px;
    align-items: flex-end;
    border-radius: 48px;
    background: #4EC5F7;;
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;

}
.gamer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gamer-img{
    max-width: 90%;

}
.gamer-tittle{
    text-align: right;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-para{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */ 
}
.gamer-btn{
    border: none;
    display: inline-flex;
   padding: 21px 40px;
   align-items: flex-start;
   gap: 10px;
   border-radius: 48px;
   margin-left: 250px;
   margin-top: 30px;
   background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
   color: #FFF;
   font-family: Work Sans;
   font-size: 1.2rem;
   font-weight: 600;
   text-transform: uppercase;
}

.gamer-para2{color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 187.5% */
}
.para2-1{
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;  
}
.banner-img, .box-img{
    width: 100%;
    height: auto;
}
.online{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.online-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px ;
}
.online-title{
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}
.online-title1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}
.online-para{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
}
.type-box{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 260px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
}
.game-type{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
 
}
.type-box:hover{
    border: 1px solid #F948B2;
    color: #F948B2;
}
.footer-icon{
    width: 32px;
    height: 32px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0B0223;
}
.footer-gamer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFF;
    margin-top: 30px;
    gap: 20px;
}
.footer-story{
    color: #FFF;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: Work Sans;
    font-size: 1.1rem;
    margin-top: 30px;
}
.footer-img{
   display: flex; 
   justify-content: center;
   margin-top: 30px;
   gap: 40px;

}
.footer-term{
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    justify-content: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 30px;
    gap: 40px;

}
.footer-copy{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 40px;
}
.play{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.rel-para{
    width: 80%;
    margin-left: 50px;
}
.rel-para2{
    position: relative;
    bottom: 300px;
}
.play-title{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}
.play-para{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;

}
.play-btn{
    width: 32px;
}
.overly{
    text-align: center;
    position: relative;
    top: -50%;
    visibility: hidden;
    color: #FFF;
}
.online-box:hover .overly{
    visibility: visible;
}
.online-box:hover .box-img{
    filter: brightness(45%);
}










/* for Mobile        */
@media screen and (max-width : 576px) {
    header{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 10px;
    }
    .banner {
        flex-direction: column-reverse;
    }
    .gamer{
       flex-direction: column;
    }
    .gamer-tittle, .gamer-para, .gamer-para2, .online-title{
        text-align: center;

    }
    .gamer-btn{
        margin-left: 180px ;
        margin-bottom: 20px;
    }
    .online-img{
        grid-template-columns: repeat(1,1fr);
    }
    .game-type{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3,1fr);
        margin-left: 1rem;
    }
    .type-box{
        gap: 10px;
        width: 100%;
        height: 60px;
        border-radius: 50px;
        background: #FFF;
        font-size: .7rem;
    }
    .type-box img{
        width: 30px;
        height: 30px;
    }

    .footer-story, .footer-img{
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }
    .footer-term{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .box-img, .banner-img{
        max-width: 80%;
        height: auto;
    }
    .play{
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    .rel-para1{
        width: 50%;
        height: 50%;

    }
    .rel-para2{
        position: relative;
        bottom: 150px;
    }
    .gamer-btn{
        margin-left: 100px;
        margin-top: 20px;
    }
    
    
    
    
    
    
    
}
/* for Tablet        */
@media screen and (max-width : 960px) and (min-width : 576px) {
    header{
        flex-direction: column;
        gap: 20px;
        padding: 15px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .gamer, .play{
        flex-direction: column;
     }
     .gamer-tittle, .gamer-para, .gamer-para2{
         text-align: center;
 
     }
     .para2-1{
         font-size: 2rem;
     }
     .gamer-btn{
        margin-left: 180px ;
        margin-bottom: 20px;
    }
    .online-img{
        grid-template-columns: repeat(1,1fr);
    }
    .game-type{
        display: grid;
        gap: 10px;
        margin-left: 60px;
        grid-template-columns: repeat(2,1fr);
    }
}